ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu {
  display: flex;
  border: solid 1px rgb(166, 67, 67);
  padding: 10px 0px;
  column-gap: 10px;
}

.form > div {
  margin-bottom: 10px;
  margin-left: 10px;
}
.form > div > label {
  display: block;
}
.form > div > input,
.form > div > textarea {
  width: 150px;
  padding: 5px;
  border: solid 2px rgb(72, 26, 118);
}
